<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org">

<head th:insert="~{fragments/fragments :: head}">
</head>


<body>

	<header th:insert="~{fragments/navbar :: navbar}">
	</header>
	
	<main>
		
		<!-- SECTION TITLE-->
		<section class="container">
			<div class="row">
				
				<!-- TITLE/PARAGRAPH -->
				<div class="col-12 text-center justify-content-center position-absolute top-50 start-50 translate-middle">
					<h1 class="fw-bold pb-3">BENVENUTO NELLA HOME DELLE PIZZE</h1>
					<p>Seleziona il metodo!!!</p>
				</div>
				
			</div>
		</section>
	</main>
	
</body>


<th:block th:replace="~{fragments/fragments :: scripts}">
</th:block>


</html>